{% extends 'community/base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'community/css/community-list.css' %}">
{% endblock %}

{% block title %}커뮤니티 목록{% endblock %}

{% block content %}
    <!--헤더-->
        <!-- 메인 시작 -->
        <main class="main-board">
            <div class="board-header">
                <!-- 큰 제목 쪽 -->
                <h2 class="title">커뮤니티 목록</h2>`
                
            </div>
            
            <div></div>
            <!-- 게시글 유형 탭 -->
            <div class="list-tabs main-list-filter-container">
                <ul class="filter-list-wrapper">
                    <div style="margin-right: 245px;">
                        <button type="button" class="major-btn active-btn">
                            <span>자료요청</span>
                        </button>
                        <button type="button" class="major-btn">
                            <span>질문</span>
                        </button>
                        <button type="button" class="major-btn">
                            <span>기타</span>
                        </button>
                    </div>
                    <div class="search">
                        <form action="" id="list-search">
                            <div class="field">
                                <label for="" class="text-hidden">검색창</label>
                                <input type="text" class="search-form" id="search-text-in-list">
                                <button class="btn-search" type="submit">검색</button>
                            </div>
                        </form>
                        <form action="" id="form-search" name="form-seach-list">
                            <input type="hidden" id="search-text1" name="search-text1">
                            <input type="hidden" id="search-select1" name="search-select1">
                            <input type="hidden" id="search-select2" name="search-select2">
                            <input type="hidden" id="search-select3" name="search-select3">
                            <input type="hidden" id="search-select4" name="search-select4">
                        </form>
                    </div>
                    <div>
                        <!-- 글 작성 버튼 -->
                        <!-- <button type="button" class="write-form">
                            <span>글 작성</span>
                        </button> -->
                    </div>
                </ul>
            </div>
            <!-- 리스트들 감싸는 div -->
            <div class="board-list-main">
                {% for community in communities %}
                    <ul>
                        <!-- 리스트 1개 -->
                        <li>
                            <a href="{{ community.get_absolute_url }}" class="article">
                                <em class="category">???</em>
                                <div class="info">
                            {# <div class="thumb" style="background-image:url('{% static "community/images/test-img1.jpg"%}');"></div>#}
                                    <h3 class="title">{{ community.community_title }}</h3>
                                    <span class="author">{{ community.member.member_name }}</span><br>
                                    <span class="created-at">{{ community.updated_date|date:"Y년 m월 d일 A h시 i분" }}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                {% endfor %}
            <div class="board-footer">
                <div class="pagination">
                    <!-- 모바일용 버튼 -->
                    <button class="prev-page-icon mobile-only">
                        <span class="text-hidden">이전 목록</span>
                    </button>
                    <div class="page">
                        <!-- 모바일용 페이지 리스트 -->
                        <div class="mobile-only">
                            <span class="current-count">1</span>
                            /
                            <span class="total-count">
                                <span>122</span>
                                페이지
                            </span>
                        </div>
                        <div class="desktop-only">
                            <!-- 데스크탑용 버튼 -->
                            <button class="prev-page-icon">
                                <span class="text-hidden">이전 목록</span>
                            </button>
                            <!-- 데스크탑용 페이지 리스트 -->
                            <a href="#" class="current">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <!-- 데스크탑용 버튼 -->
                            <button class="next-page-icon">
                                <span class="text-hidden">다음 목록</span>
                            </button>
                        </div>
                    </div>
                    <!-- 모바일용 버튼 -->
                    <button class="next-page-icon mobile-only">
                        <span class="text-hidden">다음 목록</span>
                    </button> 
                </div>
                
                <div aria-hidden="true" style="position: relative; left: 0; bottom: 48px; width: 100%;"></div>
            </div>
        </main>
        <!-- 글쓰기 버튼 -->
        <div class="floating-buttons-container">
            <a href="/community/write/">
                <button type="button" class="float-top-btn">
                    <img src="{% static 'community/images/write_pen.png' %}" class="write-form-img">
                </button>
            </a>
        </div>
        <!-- 푸터 자리 -->
{% endblock %}

{% block js %}
    <script src="{% static '/community/js/community-list.js' %}"></script>
{% endblock %}




